header {
    text-align: center;
}


section {
    background-color:white;
    margin: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
        background-color:lightgray;
    }
}

section:nth-child(even) {
    justify-content: flex-end;
}

section img {
    width: auto;
    height: 20em;
    padding: 2%;
}

.learnmore {
    background: linear-gradient(to right, blue,rgb(144, 49, 223));
    padding: 1em;
    text-decoration: none;
    color: white;
    border-radius: 25px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: auto;
  }