header {
    text-align: center;
}


section {
    background-color:white;
    margin: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
        background-color:lightgray;
    }
}

section:nth-child(even) {
    justify-content: flex-end;
}

section img {
    width: auto;
    height: 20em;
    margin: 2%;
    position:relative;
}

.learnmore {
    /*background: linear-gradient(to right, blue,rgb(144, 49, 223));*/
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    &:hover {
        color: white;
    }
}
.learnmore::before {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, blue,rgb(144, 49, 223));
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.learnmore:hover::before {
    width: 100%;
}

.arrow {
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: auto;
}

.learnmore:hover > .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 3px;
    transition: border .3s ease;
}
